.Preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    justify-self: center;
    align-items: center;
    background: url("../../../assets/preloader.gif") center no-repeat;
    width: 150px;
    height: 150px;
}